body {
    overflow-x: hidden;
}

li {
    display:inline;
}

h1 {
    text-align: center;
}
form {
    text-align: right;
}
.nav_prin {
    display: inline;
    text-align: center;
}

body{
    padding-top: 50px;
    justify-content: left;
    justify-content: flex-start;
}
Rochi{
    background-color: gainsboro;
    display: flex;
    justify-content:center
}
lauta{
    background-color: gainsboro;
    display: flex;
}
.producto{
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: 100%;
    margin-left: 20px;
    font-size: 20px;
    margin: 10px;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 17px;
    font-size: 15px;
}
.subt{
    font-family: Arial, Helvetica, sans-serif;
}
.cont{
    justify-content: center;
    margin: 10px;
    padding: 10px;
    
}
.col .btn{
    display: block;
    width: 220px;
}

.container{
    display: grid;
    justify-content: space-between;
    margin: 2px;
}
.col .btn{
    display: grid;
    width: 170px;
    height: 170px;
    outline: none;
    border: 1px solid cornflowerblue;
    background-color: #fafafa;
    border-radius: 6px;
    color: rgb(0, 141, 235);
    cursor: pointer;
    margin: 5px;
    padding: 17px;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-align: center;
}

.col .btn:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(23, 228, 243), rgb(0, 141, 235));
    transition: all .25s;
    z-index: -1;
}

.col .btn:hover{
    border: 1px solid transparent;
    color: #fff;
}

.col .btn:hover:before{
    height: 100%;
}


.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.icons i {
    color: #fff;
}

.icons i:hover {
    color: rgba(255, 255, 255, 0.87);
}


.grid_header {
    font-weight: bold;
}


div.footer {
    padding-bottom: 40px;
    padding-left: 30px;
}

div.primera-columna-footer {
    color: grey;
    font-style: italic;
}

.grid-header {
    font-weight: bold;
}


.grid-header img {
    width: 12em;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: black;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(148, 148, 148, 0.573);
    font-weight: 400;
}

.box img {
    height: 3em;
    padding: 3px;
}

#lightSwitch {
    transform: scale(1.8);
    height: 14px;
    cursor: pointer;  
}

#customRange1{
    width:50% ;
    padding-top: 9px;
    padding-left: 8px;
}

.disab{
    pointer-events: none;
    cursor: default
}
